<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <nav th:replace="fragments :: navigation"></nav>
    <h1 th:text="${title}">Default Title</h1>

        <form style="max-width:600px;" method="post" th:object="${art}">

            <div class="form-group">
                <label th:for="artistName">Artist Name</label>
                <select th:field="*{artistName}">
                    <option th:each="artistName : ${artistNames}"
                            th:text="${artistName.name}"
                            th:value="${artistName.name}"></option><!--Changed this value to be the artist name instead of integer -->
                </select>
            </div>

            <div class="form-group">
                <label th:for="trackingNumber">Tracking Number</label>
                <input class="form-control" th:field="*{trackingNumber}" />
                <span th:errors="*{trackingNumber}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="description">Description</label>
                <input class="form-control" th:field="*{description}" />
                <span th:errors="*{description}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="location">Location</label>
                <select th:field="*{location}">
                    <option th:each="artLocation : ${artLocations}"
                            th:text="${artLocation.name}"
                            th:value="${artLocation}"></option>
                </select>
            </div>

            <div class="form-group">
                <label th:for="price">Price</label>
                <input class="form-control" th:field="*{price}" />
                <span th:errors="*{price}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="image">Image (file name including type [.jpg, .png, etc.])</label>
                <input class="form-control" th:field="*{image}" />
            </div>

            <input type="submit" value="Add Art" />
        </form>

</body>
</html>