<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

    <h1 th:text="${title}">Default Title</h1>

    <h4 th:unless="${arts} and ${arts.size()}">You have no tracked art.</h4>

        <table class="table">

            <tr>
                <th>Artist Name</th>
                <th>Tracking Number</th>
                <th>Description</th>
                <th>Location</th>
                <th>Price</th>
                <th>Image</th>
            </tr>

            <tr th:each="art : ${arts}">
                <td th:text="${art.artistName}"></td><!--Changed this from arts.artistName.name to arts.artistName-->
                <td th:text="${art.trackingNumber}"></td>
                <td th:text="${art.description}"></td>
                <td th:text="${art.location.name}"></td>
                <td th:text="${art.price}"></td>
                <td> <img th:src="@{'/images/' + ${art.image}}" style="height:50px;" /></td>

            </tr>
        </table>

</body>
</html>