<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${arts} and ${arts.size()}">You have no tracked art.</p>

        <table class="table">

            <tr>
                <th>Artist Number</th>
                <th>Artist Name</th>
                <th>Tracking Number</th>
                <th>Description</th>
                <th>Location</th>
                <th>Price</th>
            </tr>

            <tr th:each="art : ${arts}">
                <td th:text="${art.artistNumber}"></td>
                <td th:text="${art.artistName}"></td>
                <td th:text="${art.trackingNumber}"></td>
                <td th:text="${art.description}"></td>
                <td th:text="${art.location}"></td>
                <td th:text="${art.price}"></td>
            </tr>

        </table>
    <!-- <p><a href="/cheese/add">Add</a> | <a href="/cheese/remove">Remove</a></p> -->
</body>
</html>