<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="art : ${arts}" class="checkbox">
        <input type="checkbox" name="artIds" th:value="${art.id}" th:id="${art.id}"/>
        <label th:for="${art.id}" th:text="${art.artistName.name + ': ' + art.trackingNumber + ' (' + art.description +')'}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Art" />
</form>

</body>
</html>