<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Log Out Successful</h1>

<div class="form-group">
    <form method="get" action="/user/login">
        <button type="submit">Log In Again</button>
    </form>

    <form method="get" action="/user/add">
        <button type="submit">Register a New User</button>
    </form>

    <form method="get" action="/">
        <button type="submit">Home</button>
    </form>
</div>

<div>
    <img src="..\images\logout.jpg"/>
</div>

</body>
</html>