<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}">Default Title</h1>


<form style="max-width:600px;" method="post" th:object="${user}">

    <div class="form-group">
        <label th:for="username">Username (5-15 characters)</label>
        <input class="form-control" th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="password">Password (8-15 characters)</label>
        <input class="form-control" id="password" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="passwordVerify">Retype Password</label>
        <input class="form-control" id="passwordVerify" th:field="*{passwordVerify}" />
        <span th:errors="*{passwordVerify}" class="error" ></span>
    </div>

    <input type="submit" value = "Register" />
</form>


</body>
</html>