<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Art</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</head>

<body>

<nav th:fragment="navigation">

    <a href="/">Home</a>&emsp;&emsp;|&emsp;&emsp;
    <a href="/art">List Art</a>&emsp;&emsp;|&emsp;&emsp;
    <a href="/art/add">Add Art</a>&emsp;&emsp;|&emsp;&emsp;
    <a href="/art/remove">Remove Art</a>&emsp;&emsp;|&emsp;&emsp;
    <a href="/search">Search Art</a>

</nav>

</body>
</html>