<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<div class="form-group">
    <button type="button">Login</button>
    <button type="button">Register</button>
</div>
<table class="table">

    <tr>
        <td><img src="images\LeeVase001.jpg" style="width:200px" /></td>
        <td><img src="images\AlexanderVase001.jpg" style="width:200px;" /></td>
        <td><img src="images\LeePaperweight001.jpg" style="width:200px;" /></td>
        <td><img src="images\LeeVase002.jpg" style="width:200px;" /></td>
    </tr>

</table>

</body>
</html>