<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<div class="form-group">
    <form method="get" action="/login">
        <button type="submit">Login</button>
    </form>
    <form method="get" action="/register">
        <button type="submit">Register</button>
    </form>
    <form method="get" action="/art">
        <button type="submit">View Art</button>
    </form>
</div>
<div>
    <img src="images\home.jpg"/>
</div>

</body>
</html>